
#acessosLogin
{
  display: flex;
  justify-content: center;
  gap: 155px;
  margin-bottom: 6px;
}

.acesso h3
{
  margin-bottom: 5px;
}

#centralizando h2
{
  text-align: center;
  margin: 2px;
  color: red;
}

#centralizando
{
  color: red;
}

#login
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
#login .field
{
    width: 60%; 
}

/* Estilo dos rótulos */
#login .field label {
display: block; /* Exibe o rótulo como bloco */
margin-bottom: 5px; /* Espaço abaixo do rótulo */
font-weight: bold; /* Rótulos em negrito */
}
  

#login #codigoInput {
  width: 100%; /* Largura total do campo */
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Borda leve */
  border-radius: 8px; /* Bordas arredondadas */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
  background-color: #a6f85e36;
  color: #505050;
}

#login .formButton
{
  display: flex;
  justify-self: left;
}

#login .formButton .butao{
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #a6f85e75;
  color: #505050;
  border-radius: 20px;
  width: 205px;
  height: 44px;
}

