
#adminContainer
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

#adminContainer h2
{
    margin-bottom: 45px;
}

#adminContainer #butoes
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

#adminContainer #butoes .butao{
    background-color: #a6f85e75;
    color: #505050;
    border-radius: 20px;
}

#adminContainer #butoes .butao:hover
{
    background-color: #a6f85ecb;

}